{% extends "leyout.html" %} {% set bodyId = "page-ideias" %} {% block content %}
{% block title %}
<title>Ideias - Casa Criativa</title>
{% endblock title %}
<header>
	<a href="/">
		<img src="./logo.png" alt="Imgaem da Logomarca" />
	</a>
	<nav>
		<li><a href="/">Início</a></li>
		<li>
			<a href="#" class="button" onclick="onOff()">Nova Ideia</a>
		</li>
	</nav>
</header>
<section id="title">
	<p>em exibição</p>
	<h1>Ideias</h1>
</section>
<main>
	<section id="ideias">
		{% include "allIdeias.html" %}
	</section>
</main>
{% include "footer.html" %} {% endblock %}
